.bg-1 {
    background-color: #FFC017;
}

.border-bottom-dark {
    border-bottom: solid 1px rgba(41, 41, 41, 1);
}

body {
    font-family: 'PT Serif', serif;
    padding-top: 50px;
}

.row-number {
    color: #E6E6E6;
}

.aside-buttons>li {
    margin-bottom: 10px;
}